{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La Boutique Française
{% endblock %}

{% block body %}
	{{ wo_render_breadcrumbs() }}
	<h1>Modifier mon mot de passe</h1>
	<a href="{{ path('account') }}">Retourner à mon compte</a><br/>
	<hr>
	{{ form(form) }}
		<hr>
	{% endblock %}
