{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-11">
			{% include 'product/_search_product.html.twig' %}
			<div id="products" class="products row product-container">
				{% for product in products %}
					<div class="col-md-4">
						{% include 'product/_single_product.html.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
