{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse- La Boutique Française
{% endblock %}

{% block body %}
	<h1>Gérer mes adresses</h1>
	<a href="{{ path('account_address') }}">
		<i class="fa fa-backward"></i>
	</a>
	<hr>
	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6">{{ form_row(form.firstName) }}</div>
		<div class="col-md-6">{{ form_row(form.lastName) }}</div>
		<div class="col-md-6">{{ form_row(form.company) }}</div>
		<div class="col-md-6">{{ form_row(form.postCode) }}</div>
		<div class="col-md-6">{{ form_row(form.city) }}</div>
		<div class="col-md-6">{{ form_row(form.countryCode) }}</div>
		<div class="col-md-6">{{ form_row(form.phoneNumber) }}</div>
		<div class="col-md-6">{{ form_row(form.street) }}</div>
	</div>

	<button type="submit" class="btn btn-primary">
		Enregistrer
	</button>
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('intlTelInput') }}
{% endblock %}
